body {
  background-color: #0C133D;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #4E68FD;
  padding: 20px 0;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  margin: 0 10px;
}

header ul li i {
  font-size: 30px;
}

header ul li a {
  color: #0C133D;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
}

header ul li a:hover {
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1640px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 40px;
}

h1, h2, p {
  color: #fff;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
}

a {
  text-decoration: none;
}

.about {
  margin-top: 80px;
}

.about img {
  max-width: 250px;
  border: solid 5px #929DB9;
  border-radius: 10px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin-right: 100px;
}

.about p {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-size: 22px;
}

section aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-right: 80px;
  border-right: solid 5px #929DB9;
}

section aside h2 {
  margin-right: 10px;
}

.content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

.portfolio {
  margin-top: 100px;
}

.portfolio aside {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio aside h2 {
  margin-top: 250px;
}

.portfolio .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.portfolio .card {
  background-color: #929DB9;
  border-radius: 10px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.portfolio .card .project-img {
  position: relative;
  height: 100%;
}

.portfolio .card .project-img img {
  max-width: 300px;
  border-radius: 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .card .project-img .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #00000044;
  border-radius: 10px;
}

.portfolio .card .project-img:hover .overlay {
  opacity: 1;
}

.portfolio .card .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 40px;
}

.portfolio .card .description h3 {
  font-size: 34px;
  margin-bottom: 20px;
  font-weight: 600;
}

.portfolio .card .description p {
  max-width: 450px;
  font-size: 18px;
}

.portfolio .card .description .btn-wrapper {
  margin-top: 10px;
}

.portfolio .card .description .btn-wrapper a {
  text-decoration: none;
}

.portfolio .card .description .btn-wrapper button {
  padding: 8px 15px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4E68FD;
  border: none;
  color: #fff;
  font-size: 16px;
}

.portfolio .card .description .btn-wrapper button:hover {
  background-color: #192452;
}

.contact {
  margin-top: 100px;
}

.contact .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .content li {
  margin: 20px 0;
}

.contact .content li a {
  color: #929DB9;
}

.contact .content li a:hover {
  color: #fff;
}

.contact .content li i {
  font-size: 20px;
}

.contact .content li span {
  font-size: 20px;
  margin-left: 20px;
}

footer {
  margin: 20px auto;
  text-align: center;
}

@media all and (max-width: 1152px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section aside {
    border: none;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  section aside h2 {
    margin: 0;
  }
  .portfolio {
    margin-top: 0;
  }
  .portfolio aside h2 {
    margin-top: 80px;
  }
  .portfolio .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

@media all and (max-width: 732px) {
  header ul li a {
    font-size: 18px;
  }
  .container {
    padding: 0 20px;
  }
  .wrapper {
    padding: 0 20px;
  }
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about img {
    margin: 0;
  }
  .about p {
    margin-top: 40px;
    text-align: center;
  }
  .portfolio .card {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .card .description {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */