// Color Palette

$oxford-blue : #0C133D;
$neon-blue : #4E68FD;
$cool-grey : #929DB9;
$space-cadet : #192452;
$white : #fff;


body {
  background-color: $oxford-blue;
  font-family: Arial, Helvetica, sans-serif;
}

// header section

header {
  background-color: $neon-blue;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    display: flex;
  
    li {
      margin: 0 10px;

      i {
        font-size: 30px;
      }
      
      a {
        color: $oxford-blue;
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1640px;
}

.wrapper {
  display: flex;
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 40px;
}

h1, h2, p {
  color: $white;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
}

a {
  text-decoration: none;
}

// about section

.about {
  margin-top: 80px;

  img {
    max-width: 250px;
    border: solid 5px $cool-grey;
    border-radius: 10px;
    flex-basis: 40%;
    margin-right: 100px;
  }

  p {
    flex-basis: 60%;
    font-size: 22px;
  }
}

section aside {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  margin-right: 80px;
  border-right: solid 5px $cool-grey;

  h2 {
    margin-right: 10px;
  }
}

.content {
  flex-basis: 70%;
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.portfolio {
  margin-top: 100px;

  aside {
    align-items: flex-start;

    h2 {
      margin-top: 250px;
    }
  }

  .content {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .card {
    background-color: $cool-grey;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    align-items: center;
    margin-top: 40px;

    .project-img {
      position: relative;
      height: 100%;

      img {
        max-width: 300px;
        border-radius: 10px;
        flex-basis: 50%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #00000044;
        border-radius: 10px;
      }

      &:hover .overlay {
        opacity: 1;
      }

    }


    .description {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 40px;

      h3 {
        font-size: 34px;
        margin-bottom: 20px;
        font-weight: 600;
      }

      p {
        max-width: 450px;
        font-size: 18px;
      }

      .btn-wrapper {
        margin-top: 10px;

        a {
          text-decoration: none;
        }

        button {
          padding: 8px 15px;
          margin: 10px;
          border-radius: 10px;
          cursor: pointer;
          background-color: $neon-blue;
          border: none;
          color: $white;
          font-size: 16px;

          &:hover {
            background-color: $space-cadet;
          }
        }
      }
    }

  }
}

// Contact Section

.contact {
  margin-top: 100px;

  .content {
    flex-direction: column;
    align-items: flex-start;

    li {
      margin: 20px 0;
      a {
      color: $cool-grey;

        &:hover {
          color: $white;
        }
      }

      i {
        font-size: 20px;
      }

      span {
        font-size: 20px;
        margin-left: 20px;
      }
    }
  }
}

// footer section

footer {
  margin: 20px auto;
  text-align: center;
}

@media all and (max-width: 1152px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  section aside {
    border: none;
    flex-basis: 100%;
    margin: 0;

    h2 {
      margin: 0;
    }
  }

  .portfolio {
    margin-top: 0;

    aside h2 {
      margin-top: 80px;
    }

    .content {
      align-items: center;
      margin: 0;
    }
  }
}

@media all and (max-width: 732px) {
  header {
    ul li a {
      font-size: 18px;
    }
  }

  .container {
    padding: 0 20px;
  }

  .wrapper {
    padding: 0 20px;
  }

  .content {
    flex-direction: column;
  }

  .about {
    img {
      margin: 0;
    }
    p {
      margin-top: 40px;
      text-align: center;
    }
  }

  .portfolio {
    .card {
      padding: 20px;
      flex-direction: column;

      .description {
        margin-top: 20px;
      }
    }
  }
}